## 1.2.2 Python Basics

In [1]:
print("Hello world")

Hello world

In [2]:
1 * 4

4

In [3]:
print(int(input("Enter a number")) * 3)

Enter a number2
6

In [4]:
firstNumber = int(input("Enter a number"))

print(firstNumber * 3)
print(firstNumber / 3)

Enter a number5
15
1.6666666666666667

In [5]:
"Hello" + "World"

'HelloWorld'

In [7]:
username = 'saphal'
password = '1234'

userPassword = input("Enter the password")

if userPassword == password :
  print("Welcome "+username)
  print("Hello")

else :
  print("incorrect password")

Enter the password1234
Welcome saphal
Hello

In [8]:
username = 'saphal'
password = '1234'

name = input("Enter the name")
userPassword = input("Enter the password")

if name==username :
  if userPassword == password :
    print("Welcome "+username)
  else :
    print("Incorrect Password")
else :
  print("This user is not in our database")

Enter the namesaphal
Enter the password1234
Welcome saphal

In [9]:
marks = int(input("Enter the mark"))

if marks > 90 :
  print("Grade is A")

elif marks > 80 :
  print("Grade is B")

else :
  print("Failed!")

Enter the mark87
Grade is B

Loops

In [10]:
for anynumber in range(1, 11) :
  print(anynumber*2)

2
4
6
8
10
12
14
16
18
20

In [11]:
for anynumber in range(0, 10, 2) :
  print(anynumber)

0
2
4
6
8

In [12]:
students = ["Ravi", "Raja", "Naveen", "Rose", "Jane"]
students[1:4]

['Raja', 'Naveen', 'Rose']

In [13]:
for a in students:
  print("Welcome" + a)

WelcomeRavi
WelcomeRaja
WelcomeNaveen
WelcomeRose
WelcomeJane

In [14]:
for a in students:
  print("Welcome" + a)

  if a == "Naveen":
    break

WelcomeRavi
WelcomeRaja
WelcomeNaveen

##Dictionary

In [15]:
studentMarks = {
    "Ravi" : 95,
    "Raju" : 43,
    "Jane" : 78,
    "Pooja" :57,
    "Rahu" :83
}

studentMarks["Ravi"]

95

In [16]:
studentMarks.keys()

dict_keys(['Ravi', 'Raju', 'Jane', 'Pooja', 'Rahu'])

In [17]:
for key in studentMarks.keys():
  #print(key)
  #print(studentMarks[key])
  #Pass criteria is 60
  if studentMarks[key] > 60 :
    print(key+" has passed")

Ravi has passed
Jane has passed
Rahu has passed

In [18]:
for (name, marks) in studentMarks.items():

  #print(key)
  #print(studentMarks[key])
  #Pass criteria is 60
  if marks < 60 :
    print(name+" has passed")

Raju has passed
Pooja has passed